In [1]:
import ssl
import sys
import psycopg2
from sqlalchemy import create_engine
import json

In [2]:
myConnection = psycopg2.connect(
    host='lallah.db.elephantsql.com',
    user ='okgedrkq',
    password='OWJG1VssXGsfuUWTguGQoCmtZ5c5JZIp',
    dbname='okgedrkq'
)

# Tabla de sucursales

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Sucursal 
            ( id SERIAL PRIMARY KEY,
              ubicacion VARCHAR(50),
              max_personas INTEGER NOT NULL
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de estantes

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Estantes 
            ( id SERIAL PRIMARY KEY,
            id_sucursal INTEGER,
              capacidad INTEGER NOT NULL,
              disponibilidad INTEGER NOT NULL,
              FOREIGN KEY (id_sucursal)
                REFERENCES Sucursal(id)
                ON UPDATE CASCADE
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de categorías

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Categoria 
            ( id SERIAL PRIMARY KEY,
            nombre VARCHAR(25)
            )
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de producto

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Productos 
            ( id SERIAL PRIMARY KEY,
            nombre VARCHAR(25),
              categoria INTEGER NOT NULL,
              FOREIGN KEY (categoria)
                REFERENCES Categoria(id)
                ON UPDATE CASCADE
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de Stock

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Stock 
            ( id SERIAL PRIMARY KEY,
              id_producto INTEGER NOT NULL,
              id_sucursal INTEGER NOT NULL,
              fecha TIMESTAMP NOT NULL,
              cantidad INTEGER NOT NULL,
              FOREIGN KEY (id_producto)
                REFERENCES Productos(id)
                ON UPDATE CASCADE,
            FOREIGN KEY (id_sucursal)
                REFERENCES Sucursal(id)
                ON UPDATE CASCADE
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de Unidades en venta

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Stock 
            ( id SERIAL PRIMARY KEY,
              id_producto INTEGER NOT NULL,
              id_stock INTEGER NOT NULL,
              cantidad INTEGER NOT NULL,
              FOREIGN KEY (id_producto)
                REFERENCES Productos(id)
                ON UPDATE CASCADE,
            FOREIGN KEY (id_stock)
                REFERENCES Stock(id)
                ON UPDATE CASCADE
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de Precios

In [ ]:
query = """CREATE TABLE IF NOT EXISTS Precio(
            ID SERIAL PRIMARY KEY,
            monto float NOT NULL,
            fecha timestamp NOT NULL,
            idProducto INTEGER NOT NULL,
            FOREIGN KEY(idProducto)
            REFERENCES productos(id) 
            ON UPDATE CASCADE
            )"""
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de Facturas

In [ ]:
query = """CREATE TABLE IF NOT EXISTS Factura
            (
                ID SERIAL PRIMARY KEY,
                fecha timestamp NOT NULL,
                IS_PAGADA BOOLEAN NOT NULL,
                MONTO_TOTAL float NOT NULL,
                IVA float,
                idCliente INTEGER NOT NULL,
                FOREIGN KEY(idCliente)
                REFERENCES cliente(id)
                ON UPDATE CASCADE,
                idSucursal INTEGER NOT NULL,
                FOREIGN KEY(idSucursal)
                REFERENCES Sucursal(id)
            )"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

#### Alteré la tabla para no quitar los datos que ya estaban, para agregar el idSucursal en factura

In [ ]:
query = """ALTER TABLE Factura
            ADD COLUMN idSucursal INTEGER NOT NULL"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [ ]:
query = """ALTER TABLE FACTURA ADD CONSTRAINT idSucursal FOREIGN KEY (idSucursal) REFERENCES  Sucursal(id) MATCH FULL"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [ ]:
query = """alter table factura alter column iva drop not null"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [ ]:
query = """ALTER TABLE Factura
            ADD COLUMN Banco VARCHAR(25)"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [3]:
query = """ALTER TABLE Factura ALTER COLUMN banco DROP DEFAULT"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [5]:
query = """UPDATE factura
            SET banco = 'Banesco'
            WHERE banco = NULL"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

# Tabla de Ventas

In [ ]:
query = """CREATE TABLE IF NOT EXISTS Ventas
            (
                ID SERIAL PRIMARY KEY,
                CANT INTEGER NOT NULL,
                MONTO float NOT NULL,
                ID_Prod INTEGER NOT NULL,
                ID_Factura INTEGER NOT NULL,
                FOREIGN KEY(id_Factura)
                REFERENCES factura(id)
                ON UPDATE CASCADE,
                FOREIGN KEY(ID_Prod)
                REFERENCES productos(id)
                ON UPDATE CASCADE
            )"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

# Tabla de pagos

In [ ]:
query = """CREATE TABLE IF NOT EXISTS PAGO
            (
                ID SERIAL PRIMARY KEY,
                MONTO float NOT NULL,
                ID_Factura INTEGER NOT NULL,
                FOREIGN KEY(id_Factura)
                REFERENCES factura(id)
                ON UPDATE CASCADE
            ) """
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

# Tabla de Instrumento

In [ ]:
query = """CREATE TABLE IF NOT EXISTS INSTRUMENTO
            (
                ID SERIAL PRIMARY KEY,
                TIPO VARCHAR(15) NOT NULL,
                BANCO VARCHAR(25),
                NUMERO INTEGER,
                ID_PAGO INTEGER NOT NULL,
                FOREIGN KEY(ID_PAGO)
                REFERENCES PAGO(id)
                ON UPDATE CASCADE
            ) """
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

# Tabla de cliente

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Cliente 
            ( id SERIAL PRIMARY KEY,
            cedula INTEGER NOT NULL,
              nombre VARCHAR(25),
              apellido VARCHAR(25)
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

# Tabla de visitas

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Visitas 
            ( id SERIAL PRIMARY KEY,
            fecha TIMESTAMP NOT NULL,
              id_sucursal INTEGER NOT NULL,
              FOREIGN KEY (id_sucursal)
                REFERENCES Sucursal(id)
                ON UPDATE CASCADE
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()

#### Alteré la tabla para no quitar los datos que ya estaban, para agregar el idcliente en visitas

In [ ]:
query = """ALTER TABLE Visitas
            ADD COLUMN idcliente INTEGER"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

In [ ]:
query = """ALTER TABLE Visitas ADD CONSTRAINT idCliente FOREIGN KEY (idCliente) REFERENCES  cliente(id) MATCH FULL"""
cur = myConnection.cursor()
cur.execute(query)
cur.close()
myConnection.commit()

# Tabla de Club_Clientes

In [ ]:
query =""" CREATE TABLE IF NOT EXISTS Club_Clientes 
            ( id SERIAL PRIMARY KEY,
              id_cliente INTEGER NOT NULL,
              puntos INTEGER NOT NULL,
              visitas INTEGER NOT NULL,
              FOREIGN KEY (id_cliente)
                REFERENCES Cliente(id)
                ON UPDATE CASCADE
            )   
            """
cur = myConnection.cursor()
cur.execute(query)
myConnection.commit()